.Navbar {
	color: white;
	display: flex;
	flex-direction: row;
	margin-left: 20px;
}
.nav-opt {
	font-family: "Cinzel Decorative";
	font-size: 1.5rem;
	color: aliceblue;
	margin: 20px;
	cursor: pointer;
	opacity: 80%;
}
.nav-opt:hover {
	opacity: 100%;
	transition: 0.2s;
	animation: glow 1s ease-in-out infinite alternate;
	text-shadow: 0 0 20px #fff;
}
